body {
  background-image: url('note.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: silver;
}

.container {
  background-color: transparent; 
  padding: 20px;
  border: 2px solid silver;
  border-radius: 10px;
  width: 50%;
  max-width: 300px; 
}

input[type="text"] {
  width: 100%; 
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #595e68;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3c455b;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: silver;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
